<% case locale.to_s %>
<% when "en" %>

<p>A request to reset your password has been made. If you did not make this request, simply ignore this email. If you did make this request just click the link below. </p>

<p>If the URL does not work try copying and pasting it into your browser.
If you continue to have problem please feel free to contact us.</p>

<p>The link:</p>
<p><a href=<%= @edit_password_reset_url %> target='_blank'>Password recover</a></p>
<p><%= @edit_password_reset_url %></p>


<p>Sincerely your team <%= @store.name %> </p>

<% when "es" %>

<p>Se ha realizado una solicitud para restablecer su contraseña. Si usted no hizo esta petición, simplemente ignore este mensaje. Si hizo esta solicitud, simplemente haga clic en el enlace de abajo:</p>

<p> Si la URL no funciona, trate de copiarla y pegarla en su navegador.
Si continúa teniendo problemas, por favor no dude en contactar con nosotros.</p>

<p>El enlace:</p>
<p><a href=<%= @edit_password_reset_url %> target='_blank'>Recuperar contraseña</a></p>
<p><%= @edit_password_reset_url %></p>


<p>Atentamente tu Equipo de <%= @store.name %></p>

<% when "pt" %>

<p>Foi realizada uma solicitação para restabelecer sua contrassenha. Se você não fez esta solicitação, simplesmente ignore esta mensagem. Se você fez esta solicitação, simplesmente faça clic no enlace abaixo:</p>

<p>Se a URL não funciona, trate de copia-la e pega-la na barra de seu navegador. 
Se você continua tendo problemas, por favor entre em contato conosco.</p>

<p>O enlace</p>
<p><a href=<%= @edit_password_reset_url %> target='_blank'>Recuperar a senha</a></p>
<p><%= @edit_password_reset_url %></p>


<p>Atenciosamente sua Equipe <%= @store.name %> </p>

<% when "fr" %>

<p>Il ya eu une demande pour réinitialiser votre mot de passe. Si vous ne faites cette demande, il suffit d'ignorer ce message. Si vous avez fait cette demande, cliquez simplement sur le lien ci-dessous:</p>

<p>Si l'URL ne fonctionne pas, essayez de copier et coller dans votre navigateur.
Si vous continuez à avoir des problèmes, ne se il vous plaît à nous contacter.</p>

<p>Le lien:</p>
<p><a href=<%= @edit_password_reset_url %> target='_blank'>Récupérer le mot de passe</a></p>
<p><%= @edit_password_reset_url %></p>


<p>Sincèrement votre équipe <%= @store.name %></p>

<% when "gl" %>

<p>Realizouse unha solicitude para restablecer o seu contrasinal. Se vostede non fixo esta petición, simplemente ignore esta mensaxe. Se fixo esta solicitude, simplemente faga clic no enlace de abaixo:</p>

<p>Se a URL non funciona, trate de copiala e pegala no seu navegador.
Se continúa tendo problemas, por favor non dubide en contactar connosco.</p>

<p>El enlace:</p>
<p><a href=<%= @edit_password_reset_url %> target='_blank'>Recuperar o contrasinal</a></p>
<p><%= @edit_password_reset_url %></p>


<p>Sincerely your team .... / Atentamente tu Equipo de .... / Atenciosamente sua Equipe .... / Sincèrement votre équipe </p>

<% when "de" %>

<p>Eine Anforderung, Ihr Passwort zurückzusetzen, wurde erstellt. Wenn Sie diese Anfrage nicht gemacht haben, ignorieren Sie einfach diese E-Mail.</p>

<p>Wenn Sie diese Anfrage gemacht haben, klicken Sie einfach auf den untenstehenden Link</p>

<p>Wenn die URL nicht funktioniert, versuchen Sie es zu kopieren und in Ihren Browser einzufügen. Wenn Sie weiterhin Probleme haben, können Sie sich gerne an uns wenden.</p>

<p>Der link:</p>
<p><a href=<%= @edit_password_reset_url %> target='_blank'>Passwort wiederherstellen</a></p>
<p><%= @edit_password_reset_url %></p>


<p>Mit freundlichen Grüßen Ihr Team <%= @store.name %></p>

<% else %>

<p>A request to reset your password has been made. If you did not make this request, simply ignore this email. If you did make this request just click the link below. </p>

<p>If the URL does not work try copying and pasting it into your browser.
If you continue to have problem please feel free to contact us.</p>

<p>The link:</p>
<p><a href=<%= @edit_password_reset_url %> target='_blank'>Password recover</a></p>
<p><%= @edit_password_reset_url %></p>


<p>Sincerely your team <%= @store.name %> </p>

<% end %>

