  <table id="order_detail">
    <h1 class='title'><%= Spree.t('order_mailer.confirm_payment.subject') %></h1>
    <tr>
      <td>
        <p class="lede" align='left'>
          <%= Spree.t(:dear_customer) %>&nbsp;<span class="name"><%= @order.ship_address.firstname %></span>
        </p>
        <p align='left'>
          <%= Spree.t(:thanks) %>
        </p>
        <p align='left' style='width:49%;display:inline-block;'>
          <strong><%= Spree.t(:order).upcase %></strong><br/>
          <span><strong><%= Spree.t(:order_id) %></strong> <%= @order.number %></span><br/>
          <span><strong><%= Spree.t(:date) %></strong> <%= @order.updated_at.strftime("%m/%d/%Y") %></span><br/>
        </p>
        <p>
          <%= Spree.t(:payment_success) %>
        </p>
        <p align='left'>
          <strong><%= Spree.t('order_mailer.confirm_email.total') %></strong>  <%= @order.display_total %>
        </p>
        <p align='left' style='margin-top:20px;'>
          <%= raw(Spree.t(:service_conditions)) %>        
        </p>
        <p align='left'>
          <%= Spree.t(:service_info) %> <span style='color:#c89a4a;'>tiendaonline@florentino.com.</span>          
        </p>
        <p align='left'>
          <%= Spree.t(:service_note) %>          
        </p>
        <p align='left'>
          <%= Spree.t(:greeting) %><br/><br/>
          <span class='team-florentino'><%= Spree.t(:team) %></span> 
        </p>
      </td>
    </tr>
  </table>