<% if @product.relations.present? %>
    <div id="products_accesories" class="product-section product-section--related">
      <h3 class="h2 text-center" ><%= t(:complete_your_look) %></h3>
      <div class="slick-slider-v2 js-products-accesories-list" data-hook>
        <% @product.relations.each do |relation| %>
          <% product = relation.related_to %>
          <% cache(product.taxon_ids.present? ? [I18n.locale, current_pricing_options, product.taxon_ids.first, product, is_forbidden_country?] : [I18n.locale, current_pricing_options, product, is_forbidden_country?]) do %>
            <% url = product_url(product, :taxon_id =>  product.taxon_ids.present? ? product.taxon_ids.first : nil) %>
            <% if product.images.present? %>
              <div id="product_<%= product.id %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
                <%= link_to url, :itemprop => 'url', :class => 'item' do %>
                  <figure>
                    <%= image_tag(product.images.order(position: :asc).first.attachment.url(:large), :itemprop => "image", class: "lazy") %>
                    <figcaption>
                      <div class="product-list__details">
                        <h3 class="product-list__title">
                          <%= raw(product.featured_tag) if product.featured_tag.present? %>
                          <%= link_to truncate(product.name, :length => 28), url, :itemprop => "name", :title => product.name %>
                        </h3>
                        <% if product.master.price > 0 && is_forbidden_country? %>
                          <p class="product-list__pricing">
                            <%= display_cost_price(product) %>
                          <span class="price selling <%= (percentage(product,product.id) > 0 && product.promotionable && product.price > 0) ? 'sales' : nil %>" itemprop="price" content="<%= product.price_for(current_pricing_options).to_d %>"><%= display_price(product) %></span>
                          </p>
                        <% end %>
                      </div>
                    </figcaption>
                  </figure>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
<% end %>

<% if @related %>
  <div id="related_products" class="product-section product-section--related">
    <h3 class="h2 text-center" ><%= t(:you_may_also_like) %></h3>
    <div class="slick-slider-v2 js-products-related-list" data-hook>
      <% @related.each do |product| %>
        <% unless (product.id == @product.id) %>
          <% cache(product.taxon_ids.present? ? [I18n.locale, current_pricing_options, product.taxon_ids.first, product, is_forbidden_country?] : [I18n.locale, current_pricing_options, product, is_forbidden_country?]) do %>
            <% url = product_url(product, :taxon_id => product.taxon_ids.present? ? product.taxon_ids.first : nil) %>
            <% if product.images.present? %>
              <div id="product_<%= product.id %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
                <%= link_to url, :itemprop => 'url', :class => 'item' do %>
                  <figure>
                    <%= image_tag(product.images.order(position: :asc).first.attachment.url(:large), :itemprop => "image", class: "lazy") %>
                    <figcaption>
                      <div class="product-list__details">
                        <h3 class="product-list__title">
                          <%= raw(product.featured_tag) if product.featured_tag.present? %>
                          <%= link_to truncate(product.name, :length => 28), url, :itemprop => "name", :title => product.name %>
                        </h3>
                        <% if product.master.price > 0 && is_forbidden_country? %>
                          <p class="product-list__pricing">
                            <%= display_cost_price(product) %>
                            <span class="price selling <%= (percentage(product,product.id) > 0 && product.promotionable && product.price > 0) ? 'sales' : nil %>" itemprop="price" content="<%= product.price_for(current_pricing_options).to_d %>"><%= display_price(product) %></span>
                          </p>
                        <% end %>
                      </div>
                    </figcaption>
                  </figure>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
