<% if spree_current_user %>
  <div id="wishlist-form">
    <%= form_for Spree::WishedProduct.new do |f| %>
      <%= f.hidden_field :variant_id, value: @product.master.id %>
      <%= f.hidden_field :quantity %>
      <%= button_tag :class => 'btn btn-success', :id => 'add-to-wishlist-button', :type => :submit do %>
        <%= Spree.t(:add_to_wishlist) %> <i class="fa fa-heart-o" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
<% else %>
	<div id="wishlist-form">
		<%= link_to spree.signup_path, class: 'btn btn-success',:id => 'add-to-wishlist-button' do %>
			<%= Spree.t(:add_to_wishlist) %> <i class="fa fa-heart-o" aria-hidden="true"></i>
		<% end %>
	</div>
<% end %>