<div class="navigation">
  <div class="navbar navbar-default" role="navigation">
    <%= render :partial => 'spree/shared/navbar_header' %>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="navbar-nav">
        <%= render partial: 'spree/shared/taxonomies_top' %>
        <%= render :partial => "spree/static_content/dropdown_in_header" %>
        <%= render :partial => 'spree/static_content/static_content_header' %>
        <li class='hidden-md hidden-lg'><%= link_to Spree.t(:help), I18n.locale.to_s == 'en' ? spree.customer_support_path : spree.atencion_al_cliente_path  %></li>
        <li class='hidden-md hidden-lg'><%= link_to "<i class='icon-location'></i>".html_safe + Spree.t(:stores), spree.store_locators_path %></li>
      </ul>
    </nav>
  </div>
</div>

<div id="top-right-menu" class='hidden-xs hidden-sm'>
  <ul>
    <li><%= link_to Spree.t(:help), I18n.locale.to_s == 'en' ? spree.customer_support_path : spree.atencion_al_cliente_path  %></li>
    <li><i class='icon-location'></i><%= link_to Spree.t(:stores), spree.store_locators_path  %></li>
  </ul>
</div>

<%= render :partial => 'spree/shared/search' %>
<%= render :partial => 'spree/shared/login_bar' %>
<%= render :partial => 'spree/shared/locale_selector' %>
<ul id='link-to-cart' >
  <%= render :partial => 'spree/shared/cart' %>
</ul>