<% products.each do |product| %>
  <% url = product_url(product, :taxon_id => @taxon.present? && @taxon.available? ? @taxon.try(:id) : nil) %>
  <li id="product_<%= product.id %>_<%= SecureRandom.hex %>" class="col-xs-12 col-md-6 col-sm-6" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
    <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product, is_forbidden_country?] : [I18n.locale, current_pricing_options, product, is_forbidden_country?]) do %>
      <%= link_to url, :itemprop => 'url', :class => 'image' do %>
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <% main_image = product.images.order(position: :asc).first.attachment(:product) rescue nil %>
                <%= image_tag(main_image, itemprop: "image", class: "lazy") rescue nil  %>
              </div>
              <div class="flip-box-back">
                <%= image_tag(product.images.order(position: :asc).second.attachment(:product), itemprop: "image", class: "lazy") rescue main_image.present? ? image_tag(main_image, itemprop: "image", class: "lazy") : nil %>
                <div class="texts">
                  <h3><%= Spree.t(:add_to_cart) %></h3>
                </div>
              </div>
            </div>
          </div>
        <div class="texts product-texts">
          <h3><%= raw(product.featured_tag) if product.featured_tag.present? %><%= product.name %></h3>
          <% if product.master.price > 0 && is_forbidden_country? %>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <%= display_cost_price(product) %>
              <span class="price selling  <%= (percentage(product,product.id) > 0 && product.promotionable && product.price > 0) ? 'sales' : nil %>" itemprop="price" content="<%= product.price_for(current_pricing_options).to_d %>"><%= display_price(product) %></span>
              <meta itemprop="priceCurrency" content="<%= current_pricing_options.currency %>" />
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </li>
<% end %>
